<div class="login-box mt-6">
  <h2>Sign up</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <% if resource.avatar.attached? %>
        <%= image_tag(resource.avatar) %>
      <% else %>
        <%= image_tag("default_profile.png", :size => '50x50') %>
      
      <% end %>

      <div class="user-box">
        <%= f.text_field :username, required: true, autofocus: true, placeholder: "username" %>
      </div>
      <div class="user-box">
        <%= f.text_field :email,
                    required: false,
                    placeholder: "email",
                    input_html: { autocomplete: "email" }%>
      </div>
      <div class="user-box">
        <%= f.text_field :password,
                    required: false,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    placeholder: "password",
                    input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="user-box">
        <%= f.text_field :password_confirmation,
                    required: false,
                    placeholder: "confirm password",
                    input_html: { autocomplete: "new-password" } %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "button is-dark is-normal is-fullwidth mt-3" %>
    </div>
  <% end %>
</div>

<div class="mt-1 columns is-centered has-text-centered">
  <%= render "devise/shared/links" %>
</div>