<!DOCTYPE html>
<html>
  <head>
    <title>drivetodev</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'app', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'menu' %>
  </head>

  <body>
 
  <section class="is-primary is-medium">
      <%= render 'shared/navbar' %>
      <p class="notice has-text-centered"><%= notice %></p>
      <p class="alert has-text-centered"><%= alert %></p>
      <%= yield :page_title %>
      
  </section>
    <%= yield %>
  </body>
</html>
